.slider{
    width:100%;
    position:relative;
    height: 400px;
    overflow:hidden;
}
.slider img{
    height:100%;
    position:absolute;
    right:0px;  
}
#prev, #next{
    position: absolute;
    top:45%;
    background-color:black;
    color:white;
    opacity:0.5;
    border:none;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#prev{
    left:1%;
}
#next{
    right:1%;
}

.slide-enter {
  opacity: 0.01;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.slide-leave {
  opacity: 1;
}

.slide-leave.slide-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}