.slider{
    width:100%;
    position:relative;
    height: 500px;
    overflow:hidden;
}
.slider img{
    height:100%;
    position:absolute;
    right:0%;  
    transition: 500ms linear;
}
.sliderControl{
    position: absolute;
    top:45%;
    background-color:black;
    color:white;
    opacity:0.5;
    border:none;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: none;
}
.sliderControl:hover{
    opacity:1;
}
.sliderControl:active{
    opacity:1;
    box-shadow: white 0px 0px 15px
}
#play{
    top:1%;
    right:100px;
}
#pause{
    top:1%;
    right:20px;
}
#prev{
    left:1%;
}
#next{
    right:1%;
}

.fade-enter {
    transform: translateX(-99.9%);
}

.fade-enter-active {
    right: 0%;
    transition: 500ms linear;
}

.fade-leave {
    right: 0%;
}

.fade-leave-active {
    transform: translateX(99.9%);
    transition: 500ms linear;
}