.grilla{
    width:920px;
    font-size:small;
    color: grey;
}
.grilla a, .grilla a:visited, .grilla a:active{
    text-decoration:none;
    font-weight:bold;
    float:right;
}
.grilla a:hover{
    text-decoration:underline;
}
.grilla-row{
    width:100%;

}
.grilla-item{
    background-color:lightgray;
    float:left;
    margin:1.25%;
}
.grilla-item-simple{
    width:22.5%;
}
.grilla-item-complejo{
    width:47.5%;
}
.grilla-item-complejo .promotion-description{
    width:40%;
}
.grilla-item-simple .promotion-description{
    width:85%;
}
.promotion-img{
    width:50%;
    float:left;
    margin-bottom:-3px;
    margin-left:-2.5%;   
}
.promotion-description{
    float:left;
    padding:5%;
}
.origin{
    font-weight:bold;
}
.blue-text{
    color:#2e59bd  
}
.destination{
    font-size:x-large;
}
.price{
    font-size:xx-large;
}